// Screen sizes
$screen-sm: 40em;
$screen-md: 48em;
$screen-lg: 64em;
$screen-xl: 80em;
$screen-xxl: 96em;

// Colors
$dark: #161c20;
$raisin-black: #1d1e22;
$metal-black: #2f3138;
$slite-black: #444;
$gamer-red: #e44444;
$fa-white: #f7f7f7;
$davy-grey: #555555;
$outer-space: #42484d;
$taupe-gray: #888888;
