@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $sienna;
    border-radius: 0.3125rem;
}

.panel-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    font-size: 0.9375rem;
    color: $taupe-gray;
    text-align: center;
    transform: translate(-50%, -50%);
}

.visibility-enter-active,
.visibility-leave-active {
    transition: all 0.35s ease-out;
    transition-property: opacity, visibility;
}
.visibility-enter-from,
.visibility-leave-to {
    visibility: hidden;
    opacity: 0;
}
